@page
@model NorthWindApp.Pages.Customer.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h1>Account Info</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Account number</th>
                <th>Balance</th>
                <th></th>
                <th></th>
            </tr>
                <tr>
                    <td>@Model</td>
                    <td>@Model</td>
                </tr>
            <tr>
            <td><i class="fa-solid fa-money-bill-transfer"></i></td>
            </tr>
        </table>
    </div>
</div>